<aside class="open-data-credit">
  <p>出典：福井県鯖江市オープンデータ</p>
  <ul>
    {% if spot.id == 3 %}<li><a href="https://steam.fukui.jp/opendata/sabae/datasets/odp-facility-jp-fukui-sabae-202-odp/" target="_blank" rel="noopener">公共トイレ・施設データ</a></li>{% endif %}
    {% if spot.id == 4 %}<li><a href="https://ckan.odp.jig.jp/dataset/https-ckan-odp-jig-jp-dataset-18207_redpanda" target="_blank" rel="noopener">西山動物園のレッサーパンダ一覧</a></li>{% endif %}
    {% if spot.id == 2 %}<li><a href="https://steam.fukui.jp/opendata/sabae/datasets/odp-facility-jp-fukui-sabae-898-odp/" target="_blank" rel="noopener">店舗</a></li>{% endif %}
  </ul>
</aside>
